@media screen and  (max-width:1500px){
    .container2{
        width: 95%;
    }
    .container{
        width: 98%;
    }
    .nav-item a{
        padding: 0px 30px;
        margin:  7px;
    }
    .centered{
        top: 50%;
    }
    .feature a{
        margin: 0;
    }
}

@media screen and  (max-width:800px){

    .centered{
       top: 90%;
       left: 280px;
       
    }
    ul.nav{
        
        flex-direction: column;
        height: 300px;
    }
    .content{
        margin: 30px;
    }
    .container2{
        margin-top: 20px;
    }
}
@media screen and  (max-width:560px){
    .centered{
        top: 120%;
        left: 60px;
    }

}