@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px auto;
    width: 70%;
    align-items: center;
}
ul.nav{
    margin: 30px 5px 0 5px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;
    text-align: center;
    font-family: 'Baloo Tammudu 2', cursive;
}
ul.nav li{
    flex: 1;
}
.nav a{
    color: black;
    text-decoration: none;
    padding: 5px 40px;
    font-size: 19px;
    margin: 20px;
    font-weight: 600;
}
.nav li a:hover {
    color: #daa520;
    box-shadow: 0px 2px 0px 0px #000;
    transition: 0.6s ease;
}
.container a img{
    height: 120px;
}
.centered{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    left: 65%;
    z-index: 2;
}
.container2{
    margin: 60px auto;
    width: 80%;
}
.bg{
    background-image: url('../IMG/3.jpg');
    background-size: cover;
    background-position: center;
    height: 800px;
    filter: blur(6px);
    -webkit-filter: blur(6px);
}
.centered p{
    margin: 5px 20px;
    color: #000;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.centered button{
    background: black;
    padding: 12px 60px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    border: none;
    font-weight: 700;
    color: goldenrod; 
}

.centered button:hover{
    background: linear-gradient(45deg,rgb(53, 38, 0), rgb(255, 217, 0));
    color: black;
    transition: .3s;
    padding: 12px 70px;
}
.divider{
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}
.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
}
.content{
    margin: 40px 95px;
}
.border-bottom {
    padding: 10px;
    margin-bottom: .5rem;
    font-size: 32px;
    font-weight: 500;
    border-bottom: 1px solid #dee2e6;
}
.feature{
    text-align: center;
    padding: 10px 30px;
}
.col h2{
    margin: 10px;
}
.col p{
    text-align: left;
    margin: 10px;
}
.col a{
    text-decoration: none;
    color: navy;
    font-weight: 100;
}

.imgfluid{
    border-radius: 150px;
    height:300px;
    width: 200px;
   /* box-shadow: 2px 2px 15px; */
}


/* -----------------------------------------------social icons--------------------------------------------- */
footer{
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
footer p{
    color: whitesmoke;
    font-size: 18px;
    margin-left: 20px;
}

.social-icons {
    padding: 0 10px;
    list-style: none;
    margin: 1em;
    margin-left: 40px;
}
.social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;
}

.social-icons i {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out;
}

.social-icons a {
    display: inline-block;
      
}
.social-icons a::before {
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, rgb(87, 63, 2), rgb(255, 217, 0));
    transition: all 265ms ease-out;
}
        
.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}
        
.social-icons a:hover i {   
    transform: scale(2);
    color: goldenrod;
    background: -webkit-linear-gradient(45deg,rgb(87, 63, 2), rgb(255, 217, 0) );
    background-blend-mode: multiply;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}
.sitemap{
    text-align: center;
    list-style: none;  
}
.sitemap a{
    text-decoration: none;
    color: whitesmoke;
}
.sitemap a:hover{
    color: goldenrod;
}
   
  
